In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset=pd.read_csv("50_startups.csv")

In [3]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [5]:
dataset.isnull().any()

R&D Spend          False
Administration      True
Marketing Spend     True
State              False
Profit             False
dtype: bool

In [6]:
dataset["Administration"].fillna(dataset["Administration"].mean(),inplace=True)
dataset["Marketing Spend"].fillna(dataset["Marketing Spend"].mean(),inplace=True)

In [7]:
x=dataset.iloc[:,0:4].values
y=dataset.iloc[:,4].values

In [8]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct=ColumnTransformer([("oh",OneHotEncoder(),[3])],remainder="passthrough")
x=ct.fit_transform(x)

In [9]:
x

array([[0.0, 0.0, 1.0, 165349.2, 136897.8, 471784.1],
       [1.0, 0.0, 0.0, 162597.7, 151377.59, 443898.53],
       [0.0, 1.0, 0.0, 153441.51, 101145.55, 407934.54],
       [0.0, 0.0, 1.0, 144372.41, 118671.85, 383199.62],
       [0.0, 1.0, 0.0, 142107.34, 91391.77, 366168.42],
       [0.0, 0.0, 1.0, 131876.9, 99814.71, 362861.36],
       [1.0, 0.0, 0.0, 134615.46, 147198.87, 212725.26673469393],
       [0.0, 1.0, 0.0, 130298.13, 145530.06, 323876.68],
       [0.0, 0.0, 1.0, 120542.52, 148718.95, 311613.29],
       [1.0, 0.0, 0.0, 123334.88, 108679.17, 304981.62],
       [0.0, 1.0, 0.0, 101913.08, 121564.03816326526, 229160.95],
       [1.0, 0.0, 0.0, 100671.96, 91790.61, 249744.55],
       [0.0, 1.0, 0.0, 93863.75, 127320.38, 249839.44],
       [1.0, 0.0, 0.0, 91992.39, 135495.07, 252664.93],
       [0.0, 1.0, 0.0, 119943.24, 156547.42, 256512.92],
       [0.0, 0.0, 1.0, 114523.61, 122616.84, 261776.23],
       [1.0, 0.0, 0.0, 78013.11, 121597.55, 264346.06],
       [0.0, 0.0, 1.0, 94657.16, 145077.58, 282574.31],
       [0.0, 1.0, 0.0, 91749.16, 114175.79, 294919.57],
       [0.0, 0.0, 1.0, 86419.7, 153514.11, 0.0],
       [1.0, 0.0, 0.0, 76253.86, 113867.3, 298664.47],
       [0.0, 0.0, 1.0, 78389.47, 153773.43, 299737.29],
       [0.0, 1.0, 0.0, 73994.56, 122782.75, 303319.26],
       [0.0, 1.0, 0.0, 67532.53, 105751.03, 304768.73],
       [0.0, 0.0, 1.0, 77044.01, 99281.34, 140574.81],
       [1.0, 0.0, 0.0, 64664.71, 139553.16, 137962.62],
       [0.0, 1.0, 0.0, 75328.87, 144135.98, 134050.07],
       [0.0, 0.0, 1.0, 72107.6, 127864.55, 353183.81],
       [0.0, 1.0, 0.0, 66051.52, 182645.56, 118148.2],
       [0.0, 0.0, 1.0, 65605.48, 153032.06, 107138.38],
       [0.0, 1.0, 0.0, 61994.48, 115641.28, 91131.24],
       [0.0, 0.0, 1.0, 61136.38, 152701.92, 88218.23],
       [1.0, 0.0, 0.0, 63408.86, 129219.61, 46085.25],
       [0.0, 1.0, 0.0, 55493.95, 103057.49, 214634.81],
       [1.0, 0.0, 0.0, 46426.07, 157693.92, 210797.67],
       [0.0, 0.0, 1.0, 46014.02, 85047.44, 205517.64],
       [0.0, 1.0, 0.0, 28663.76, 127056.21, 201126.82],
       [1.0, 0.0, 0.0, 44069.95, 51283.14, 197029.42],
       [0.0, 0.0, 1.0, 20229.59, 65947.93, 185265.1],
       [1.0, 0.0, 0.0, 38558.51, 82982.09, 174999.3],
       [1.0, 0.0, 0.0, 28754.33, 118546.05, 172795.67],
       [0.0, 1.0, 0.0, 27892.92, 84710.77, 164470.71],
       [1.0, 0.0, 0.0, 23640.93, 96189.63, 148001.11],
       [0.0, 0.0, 1.0, 15505.73, 127382.3, 35534.17],
       [1.0, 0.0, 0.0, 22177.74, 154806.14, 28334.72],
       [0.0, 0.0, 1.0, 1000.23, 124153.04, 1903.93],
       [0.0, 1.0, 0.0, 1315.46, 115816.21, 297114.46],
       [1.0, 0.0, 0.0, 0.0, 135426.92, 0.0],
       [0.0, 0.0, 1.0, 542.05, 51743.15, 0.0],
       [1.0, 0.0, 0.0, 0.0, 116983.8, 45173.06]], dtype=object)

In [10]:
x.shape

(50, 6)

In [39]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=50)

In [40]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

In [41]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [42]:
cat=Sequential()

In [43]:
cat.add(Dense(4,kernel_initializer="random_uniform",activation="relu"))

In [44]:
cat.add(Dense(8,kernel_initializer="random_uniform",activation="relu"))

In [45]:
cat.add(Dense(1,kernel_initializer="random_uniform",activation="relu"))

In [46]:
cat.compile("adam","mean_squared_error",metrics=["MSE"])

In [47]:
cat.fit(x_train,y_train,batch_size=32,epochs=10)

Epoch 1/10
40/40 [==============================] - 0s 7ms/sample - loss: 13933870694.4000 - mean_squared_error: 13933871104.0000
Epoch 2/10
40/40 [==============================] - 0s 224us/sample - loss: 13933870489.6000 - mean_squared_error: 13933871104.0000
Epoch 3/10
40/40 [==============================] - 0s 274us/sample - loss: 13933869465.6000 - mean_squared_error: 13933869056.0000
Epoch 4/10
40/40 [==============================] - 0s 299us/sample - loss: 13933869465.6000 - mean_squared_error: 13933869056.0000
Epoch 5/10
40/40 [==============================] - 0s 399us/sample - loss: 13933868032.0000 - mean_squared_error: 13933868032.0000
Epoch 6/10
40/40 [==============================] - 0s 299us/sample - loss: 13933867417.6000 - mean_squared_error: 13933868032.0000
Epoch 7/10
40/40 [==============================] - 0s 175us/sample - loss: 13933867827.2000 - mean_squared_error: 13933868032.0000
Epoch 8/10
40/40 [==============================] - 0s 299us/sample - loss: 13933867417.6000 - mean_squared_error: 13933868032.0000
Epoch 9/10
40/40 [==============================] - 0s 350us/sample - loss: 13933866188.8000 - mean_squared_error: 13933865984.0000
Epoch 10/10
40/40 [==============================] - 0s 374us/sample - loss: 13933864140.8000 - mean_squared_error: 13933864960.0000

In [48]:
ypred=cat.predict(x_test)

In [49]:
ypred

array([[0.02610768],
       [0.02667668],
       [0.03017728],
       [0.02554109],
       [0.02832606],
       [0.02652584],
       [0.02596935],
       [0.02695497],
       [0.02635674],
       [0.02634586]], dtype=float32)

In [50]:
y_test

array([ 96712.8 ,  90708.19, 191792.06,  81229.06, 152211.77, 126992.93,
        96479.51, 134307.35, 101004.64, 108552.04])

In [51]:
dataset.head(1)

   R&D Spend  Administration  Marketing Spend     State     Profit
0   165349.2        136897.8         471784.1  New York  192261.83

In [52]:
cat.predict(sc.transform(ct.transform([[165349.2,136897.8,471784.1,"New York"]])))

array([[0.03033368]], dtype=float32)

In [54]:
cat.predict_classes(sc.transform(ct.transform([[165349.2,136897.8,471784.1,"New York"]])))

array([[0]])