In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset=pd.read_csv("bank.csv")

In [3]:
dataset.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [4]:
dataset.isnull().any()

age          False
job          False
marital      False
education    False
default      False
balance      False
housing      False
loan         False
contact      False
day          False
month        False
duration     False
campaign     False
pdays        False
previous     False
poutcome     False
deposit      False
dtype: bool

In [5]:
x=dataset.iloc[:,0:16].values
y=dataset.iloc[:,16:17].values

In [6]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct=ColumnTransformer([("oh",OneHotEncoder(),[1,2,3,4,6,7,8,10,15])],remainder="passthrough")
x=ct.fit_transform(x)

In [7]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
y=le.fit_transform(y)

C:\Users\bolla\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [8]:
x.shape

(11162, 51)

In [9]:
y.shape

(11162,)

In [29]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=100)

In [30]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

In [31]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [32]:
cat=Sequential()

In [33]:
cat.add(Dense(51,kernel_initializer="random_uniform",activation="relu"))

In [34]:
cat.add(Dense(102,kernel_initializer="random_uniform",activation="relu"))

In [35]:
cat.add(Dense(1,kernel_initializer="random_uniform",activation="sigmoid"))

In [36]:
cat.compile("adam","binary_crossentropy",metrics=["accuracy"])

In [38]:
cat.fit(x_train,y_train,batch_size=50,epochs=50)

Epoch 1/50
8929/8929 [==============================] - 1s 65us/sample - loss: 0.2398 - acc: 0.8986
Epoch 2/50
8929/8929 [==============================] - 1s 58us/sample - loss: 0.2350 - acc: 0.9016
Epoch 3/50
8929/8929 [==============================] - 1s 77us/sample - loss: 0.2371 - acc: 0.9003
Epoch 4/50
8929/8929 [==============================] - 1s 70us/sample - loss: 0.2318 - acc: 0.9004
Epoch 5/50
8929/8929 [==============================] - 1s 63us/sample - loss: 0.2301 - acc: 0.9028
Epoch 6/50
8929/8929 [==============================] - 1s 66us/sample - loss: 0.2248 - acc: 0.9042
Epoch 7/50
8929/8929 [==============================] - 1s 62us/sample - loss: 0.2210 - acc: 0.9081
Epoch 8/50
8929/8929 [==============================] - 1s 64us/sample - loss: 0.2192 - acc: 0.9084
Epoch 9/50
8929/8929 [==============================] - 1s 63us/sample - loss: 0.2177 - acc: 0.9098
Epoch 10/50
8929/8929 [==============================] - 1s 64us/sample - loss: 0.2156 - acc: 0.9084
Epoch 11/50
8929/8929 [==============================] - 1s 65us/sample - loss: 0.2111 - acc: 0.9114
Epoch 12/50
8929/8929 [==============================] - 1s 67us/sample - loss: 0.2111 - acc: 0.9057
Epoch 13/50
8929/8929 [==============================] - 1s 65us/sample - loss: 0.2062 - acc: 0.9142
Epoch 14/50
8929/8929 [==============================] - 1s 60us/sample - loss: 0.2035 - acc: 0.9137
Epoch 15/50
8929/8929 [==============================] - 1s 64us/sample - loss: 0.2006 - acc: 0.9144
Epoch 16/50
8929/8929 [==============================] - 1s 59us/sample - loss: 0.2046 - acc: 0.9153
Epoch 17/50
8929/8929 [==============================] - 1s 62us/sample - loss: 0.2013 - acc: 0.9131
Epoch 18/50
8929/8929 [==============================] - 1s 59us/sample - loss: 0.1951 - acc: 0.9173
Epoch 19/50
8929/8929 [==============================] - 1s 62us/sample - loss: 0.1901 - acc: 0.9190
Epoch 20/50
8929/8929 [==============================] - 1s 61us/sample - loss: 0.1884 - acc: 0.9212
Epoch 21/50
8929/8929 [==============================] - 1s 63us/sample - loss: 0.1872 - acc: 0.9216
Epoch 22/50
8929/8929 [==============================] - 1s 61us/sample - loss: 0.1883 - acc: 0.9187
Epoch 23/50
8929/8929 [==============================] - 1s 63us/sample - loss: 0.1873 - acc: 0.9215
Epoch 24/50
8929/8929 [==============================] - 1s 68us/sample - loss: 0.1813 - acc: 0.9236
Epoch 25/50
8929/8929 [==============================] - 1s 63us/sample - loss: 0.1831 - acc: 0.9228
Epoch 26/50
8929/8929 [==============================] - 1s 70us/sample - loss: 0.1773 - acc: 0.9229
Epoch 27/50
8929/8929 [==============================] - 1s 64us/sample - loss: 0.1741 - acc: 0.9256
Epoch 28/50
8929/8929 [==============================] - 1s 64us/sample - loss: 0.1725 - acc: 0.9266
Epoch 29/50
8929/8929 [==============================] - 1s 64us/sample - loss: 0.1705 - acc: 0.9269
Epoch 30/50
8929/8929 [==============================] - 1s 60us/sample - loss: 0.1750 - acc: 0.9261
Epoch 31/50
8929/8929 [==============================] - 1s 62us/sample - loss: 0.1676 - acc: 0.9290
Epoch 32/50
8929/8929 [==============================] - 1s 58us/sample - loss: 0.1685 - acc: 0.9287
Epoch 33/50
8929/8929 [==============================] - 1s 62us/sample - loss: 0.1645 - acc: 0.9302
Epoch 34/50
8929/8929 [==============================] - 1s 61us/sample - loss: 0.1618 - acc: 0.9293
Epoch 35/50
8929/8929 [==============================] - 1s 62us/sample - loss: 0.1599 - acc: 0.9335
Epoch 36/50
8929/8929 [==============================] - 1s 60us/sample - loss: 0.1567 - acc: 0.9321
Epoch 37/50
8929/8929 [==============================] - 1s 62us/sample - loss: 0.1556 - acc: 0.9338
Epoch 38/50
8929/8929 [==============================] - 1s 60us/sample - loss: 0.1563 - acc: 0.9325
Epoch 39/50
8929/8929 [==============================] - 1s 67us/sample - loss: 0.1555 - acc: 0.9347
Epoch 40/50
8929/8929 [==============================] - 1s 64us/sample - loss: 0.1515 - acc: 0.9356
Epoch 41/50
8929/8929 [==============================] - 1s 62us/sample - loss: 0.1501 - acc: 0.9356
Epoch 42/50
8929/8929 [==============================] - 1s 66us/sample - loss: 0.1483 - acc: 0.9374
Epoch 43/50
8929/8929 [==============================] - 1s 59us/sample - loss: 0.1466 - acc: 0.9377
Epoch 44/50
8929/8929 [==============================] - 1s 62us/sample - loss: 0.1400 - acc: 0.9408
Epoch 45/50
8929/8929 [==============================] - 1s 62us/sample - loss: 0.1431 - acc: 0.9391
Epoch 46/50
8929/8929 [==============================] - 1s 67us/sample - loss: 0.1422 - acc: 0.9420
Epoch 47/50
8929/8929 [==============================] - 1s 62us/sample - loss: 0.1414 - acc: 0.9412
Epoch 48/50
8929/8929 [==============================] - 1s 64us/sample - loss: 0.1389 - acc: 0.9406
Epoch 49/50
8929/8929 [==============================] - 1s 66us/sample - loss: 0.1412 - acc: 0.9408
Epoch 50/50
8929/8929 [==============================] - 1s 95us/sample - loss: 0.1396 - acc: 0.9406

In [39]:
y_train.shape

(8929,)

In [40]:
ypred=cat.predict(x_test)

In [41]:
ypred

array([[0.31713057],
       [0.        ],
       [0.0020653 ],
       ...,
       [0.99950993],
       [0.9973104 ],
       [0.99678206]], dtype=float32)

In [42]:
dataset.head(1)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes

In [46]:
cat.predict(sc.transform(ct.transform([[43,"admin.","married","secondary","no",2300,"yes","no","unknown",4,"may",100,1,-1,0,"unknown"]])))

array([[2.4379892e-06]], dtype=float32)

In [47]:
cat.predict_classes(sc.transform(ct.transform([[43,"admin.","married","secondary","no",2300,"yes","no","unknown",4,"may",100,1,-1,0,"unknown"]])))

array([[0]])